.logoicon{
    height: 50px;
    width: 50px;
}
.usericon{
    height: 40px;
    width: 40px;
}
.searchicon{
    height: 40px;
    width: 40px;
}
.searchbar::placeholder{
    text-align: center;
    font-size: 20px
}
/* .mybox{
    height: 500px;
    border: 3px solid;
} */
.box1{
    text-align: center;
    height: 350px;
    width: 300px;
    background-color: rgb(238, 130, 48);
    border-radius: 20px;
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 10;
}
.box2{
    height: 250px;
    width: 200px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.box3{
    height: 250px;
    width: 200px;
    border: 5px solid blue;
    border-radius: 20px;
    position: absolute;
}
.watchimg{
    height: 300px;
    width: 270px;
}
.section{
    height: 50px;
    width: 150px;
    background-color: rgb(226, 243, 243);
}

.award{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 330px;
    left: -30px;
    border-radius: 10px;
    z-index: 11;
}
.awardicon{
    height: 30px;
    width: 60px;
}
.award p{
    /* margin: 3px 0px 0px 20px; */
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
