.logoicon{
    height: 50px;
    width: 50px;
}
.usericon{
    height: 40px;
    width: 40px;
}
.searchicon{
    height: 40px;
    width: 40px;
}
.searchbar::placeholder{
    text-align: center;
    font-size: 20px
}
/* .mybox{
    height: 500px;
    border: 3px solid;
} */
.box1{
    text-align: center;
    height: 350px;
    width: 300px;
    background-color: rgb(238, 130, 48);
    border-radius: 20px;
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 10;
}
.box2{
    height: 250px;
    width: 200px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.box3{
    height: 250px;
    width: 200px;
    border: 5px solid blue;
    border-radius: 20px;
    position: absolute;
}
.watchimg{
    height: 300px;
    width: 270px;
}
.section{
    height: 50px;
    width: 150px;
    background-color: rgb(226, 243, 243);
}

.award{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 330px;
    left: -30px;
    border-radius: 10px;
    z-index: 11;
}
.awardicon{
    height: 30px;
    width: 60px;
}
.award p{
    /* margin: 3px 0px 0px 20px; */
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.first{
    width: 45%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.firsticon{
    width: 30px;
    height: 35px;
}
.first h5{
    padding: 10px;
    font-size: 25px;
    border: 4px solid blue;
    border-radius: 5px;
}
.second h1{
    font-size: 60px;
    /* font-weight: 800; */
}

.second h1::first-line{
    font-weight: 800;
}
.second p{
    width: 85%;
    font-size: 30px;
    color:#0000005b;
}
.third{
    margin-top: 100px;
}
.third a{
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin-right: 30px;
    font-size: 30px;
    width: 100px;
    padding: 20px;
   
}
.firstbtn{
    background-color: red;
    border: 2px solid red;
}
.secondbtn{
    border: 2px solid black;
}
.firstbtn:hover{
    background-color: transparent;
    border-color: black;
}
.secondbtn:hover{
    background-color: red;
    background-color: red;
}
